@import "common.scss";
@import "theme/_socicon.scss";
@import "theme/_layout.scss";
@import 'theme/buttons.scss';
@import 'theme/color.scss';
@import 'app/form.scss';
#__bs_notify__ {
    display: none !important;
    opacity: 0 !important;
}
*{
    font-family: 'Open Sans', sans-serif;
}

html {
    min-height: 520px;
    height: 100%;
}

body {
    @include main-background();
    height: 100%;
}

$text-color: #ffffff;

.form-control,
.form-control:focus {
    @include placeholderStyle($text-color, 0.9);
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5px;
    color: $text-color;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    @include placeholderStyle($text-color, 0.6);
}

.auth-main {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.auth-block {
    width: 540px;
    margin: 0 auto;
    border-radius: 5px;
    @include bg-translucent-dark(0.55);
    color: #fff;
    padding: 32px;
    h1 {
        font-weight: $font-light;
        margin-bottom: 28px;
        text-align: center;
    }
    p {
        font-size: 16px;
    }
    a {
        text-decoration: none;
        outline: none;
        transition: all 0.2s ease;
        color: $primary;
        &:hover {
            color: $primary-dark;
        }
    }

    .control-label {
        padding-top: 11px;
        color: $text-color;
    }

    .form-group {
        margin-bottom: 12px;
    }
}

.auth-input {
    width: 300px;
    margin-bottom: 24px;
    input {
        display: block;
        width: 100%;
        border: none;
        font-size: 16px;
        padding: 4px 10px;
        outline: none;
    }
}

a.forgot-pass {
    display: block;
    text-align: right;
    margin-bottom: -20px;
    float: right;
    z-index: 2;
    position: relative;
}

.auth-link {
    display: block;
    font-size: 16px;
    text-align: center;
    margin-bottom: 33px;
}

.auth-sep {
    margin-top: 36px;
    margin-bottom: 24px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    display: block;
    position: relative;
    &>span {
        display: table-cell;
        width: 30%;
        white-space: nowrap;
        padding: 0 24px;
        color: $text-color;
        &>span {
            margin-top: -12px;
            display: block;
        }
    }
    &:before,
    &:after {
        border-top: solid 1px $text-color;
        content: "";
        height: 1px;
        width: 35%;
        display: table-cell;
    }
}

.al-share-auth {
    text-align: center;
    .al-share {
        float: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        li {
            margin-left: 24px;
            &:first-child {
                margin-left: 0;
            }
            i {
                font-size: 24px;
            }
        }
    }
}

.btn-auth {
    color: #ffffff!important;
    height:46px;
}


// Custom SCSS
.mx-top {
    margin-top: 1rem;
}

.form-control {
    border-radius: 0px!important;
}

.forgot-pass:hover {
    color: #006bb1!important;
    transition: all 0.5s ease-in-out!important;
}

.forgot-pass {
    color: #fff!important;
}

.auth-block .title-login,
.auth-block button,
.auth-block a {
    color: $white;
}

.auth-block a {
    color: #fff;
    &:hover {
        color: $orangedarken-3;
    }
}

@media(min-width: 992px){
    .auth-block{margin: 0 auto !important;}
}

@media(max-width: 768px){
    .auth-block{margin: 10px !important;}
}

.auth-block {
    width: 400px !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
    color: #fff !important;
    padding: 20px 50px 20px !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
/*Form CSS*/
.heading-login {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    left: -10px;
    &>img {
        width: 70%;
    }
}

h4,
.title-login {
    color: $white;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea,
select {
    font-size: 18px;
    color: #444;
    background-color: #fff;
    border: 1px solid #fff;
    display: block;
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    border-radius: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    font-size: 18px;
    border: 1px solid #ccc;
    color: #444;
    background-color: #eee;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    outline: 0;
}

button.btn.btn-custom:hover {
    background-color: $orangedarken-3;
}

// Standard Background And Text Color
.bg-default{background-color: $bg-default;}
.bg-primary{background-color: $bg-primary;}
.bg-success{background-color: $bg-success;}
.bg-warning{background-color: $bg-warning;}
.bg-info{background-color: $bg-info;}
.bg-danger{background-color: $bg-danger}
// End Standard
.loading-indicator {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0.7em;
}

.loading-indicator:before {
    display: inline-block;
    margin: 0 0.4em;
    min-width: 1em;
    min-height: 1em;
    border-top: 4px solid #646464;
    border-right: 4px solid #e6e6e6;
    border-left: 4px solid #e6e6e6;
    border-bottom: 4px solid #646464;
    content: "";
    -webkit-animation: halfspin 1s ease infinite;
    -moz-animation: halfspin 1s ease infinite;
    -o-animation: halfspin 1s ease infinite;
    animation: halfspin 1s ease infinite;
    border-radius: 100%;
}

.Loading{
    width:27px!important;
}

.toast-top-center {
    top: 68px;
    width: 100%;
}

.toast-success {
    background-color: #5AAC44!important;
}

.toast-close-button {
    right: 0;
    top: 0;
}

#toast-container .toast {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-size: 17px;
    background-position: 17px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
    opacity: 0.8;
}