<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Province - List</h3>
                <content-top></content-top>
            </div>
            <div class="panel-body">
                <div class="btn-group">
                    <button class="btn btn-custom example-responsive" ng-click="refreshTable()">
                        <i class="glyphicon glyphicon-refresh" ng-class="spin==true?'gly-spin':''"></i>
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-custom btn-with-icon example-responsive" ng-click="showForm();behaviour_add();">
                        <i class="fa fa-file-text-o"></i>
                        <span>Create</span>
                    </button>
                </div>
                <div class="btn-group">
                    <button ng-show="(selected.length > 0)" ng-click="openDelete();" class="btn btn-danger btn-with-icon example-responsive">
                        <i class="fa fa-trash"></i>
                        <span>Delete</span>
                    </button>
                </div>
                <div class="pull-right total-data">
                    <span>Total Data : {{totalData}}</span>
                </div>
                <div st-table="data" st-pipe="callServer" st-safe-src="data">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered custom-table">
                            <thead>
                                <tr class="sortable">
                                    <th class="v-align table-id" st-sort="id" rowspan="2">No</th>
                                    <th class="wid44">Select</th>
                                    <th st-sort="Name">Provinsi</th>
                                </tr>
                                <tr>
                                    <th row-select-all="data" selected="selected" ng-click="selectAll(data,'Id')"></th>
                                    <th>
                                        <input st-search="Name" type="text" class="form-control custom-control" ng-model="Name" ng-change="changeFilter()">
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                                <tr ng-repeat="s in (results =(data | filter:key))" class="editable-row" context-menu="menuOptions" data-id="{{s.Id}}" ng-class="$index %2 ==0?'table-strip':' '">
                                    <td ng-click="showForm();behaviour_view();view_object(s.Id);">{{((page-1)*10)+$index+1}}</td>
                                    <td row-select="s" ng-click="select(s.Id)" class="v-align row-select"></td>
                                    <td ng-click="showForm();behaviour_view();view_object(s.Id);">{{s.Name}}</td>
                                </tr>
                                <tr ng-if="results.length ==  0">
                                    <td colspan="12">Data not found</td>
                                </tr>
                                <tbody ng-show="isLoading">
                                    <tr>
                                        <td colspan="12">
                                            <div class="loading-indicator"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="pull-right" st-pagination="" st-items-by-page="dataPageSize" st-displayed-pages="5"></div>
                </div>
            </div>
        </div>
    </div>
</div>