<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Role - Form</h3>
                 <button type="button" class="toast-close-button" data-dismiss="dialog" style="color: #616161" ng-click="$close()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="submit()">
                    <div class="form-group row cleafix">
                        <label class="col-sm-4">Application Name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="form.Name" ng-readonly="!control">
                        </div>
                    </div>
                    <div class="form-group row clearfix">
                        <label class="col-sm-4"></label>
                        <div class="col-md-8">
                            <!-- Control Button -->
                            <div ng-show="control">
                                <button ng-disabled="loading" type="submit" class="btn btn-custom margin-left pull-right col-xs-6 col-md-2">
                                    <i class="fa fa-save"></i> Save</button>
                                <button ng-disabled="loading" ng-show='edits == false' type="button" class="btn btn-default pull-right col-xs-6 col-md-2" ng-click="$close()">
                                    <i class="fa fa-close"></i> Cancel</button>
                                <button ng-click="control = !control" type="button" ng-show='edits == true' class="btn btn-default pull-right col-xs-6 col-md-2">
                                    <i class="fa fa-close"></i> Cancel</button>
                            </div>
                            <div ng-show="!control">
                                <button ng-disabled="loading" ng-click="edits = true;control = !control;add=false;" type="button" class="btn btn-custom margin-left pull-right col-xs-6 col-md-2">
                                    <i class="fa fa-edit"></i> Edit</button>
                                <button ng-disabled="loading" class="btn btn-default pull-right col-xs-6 col-md-2" type="button" ng-click="$close()">
                                    <i class="fa fa-arrow-left"></i> Close</button>
                            </div>
                            <!-- Control Button End -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<button id="hideButton" ng-click="control = false;edit = true;" type="button" ng-show='hideButton'></button>